.git
.github
.gitignore
.dockerignore
*.md
CODE_OF_CONDUCT.md
LICENSE

config/*.db
config/*.log
config/logs/
config/plugins/
config/*.example

data/
.devcontainer
.vscode
.pre-commit-config.yaml
renovate.json
scripts
Makefile